%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    %title CSS Challenge

    %link{href: "http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif", rel: "stylesheet", type: "text/css"}
    %link{href: "style.css", rel: "stylesheet", type: "text/css"}

  %body
    %section#intro
      %article
        %header
          %h1 Welcome to my latest experiment
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        %button Try Now
