%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0"}

    %title CSS Challenge

    %link{href: "http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif", rel: "stylesheet", type: "text/css"}
    %link{href: "style.css", rel: "stylesheet", type: "text/css"}
    %link{href: "theme_cool.css", id: "pagestyle", rel: "stylesheet", type: "text/css"}

    :javascript
      function getParameterByName(name) {
         name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
         var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
             results = regex.exec(location.search);
             return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
      }

      function swapStyleSheet(sheet) {
         document.getElementById('pagestyle').setAttribute('href', sheet);
      }

      var theme = getParameterByName("theme") || 'cool';
      console.log("theme:" + theme)
      swapStyleSheet("theme_" + theme + ".css")

  %body
    %section.intro
      %article.rails-width
        %header
          %h1 Welcome to my latest experiment
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        %button Try Now

    %section.info
      %article.rails-width
        %header
          %h2 Have a look at our features
        .bar_text
          .wrap
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .wrap
            %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.

    %section.products.article_block
      .rails-width
        %h2 Our products are awesome!

        .bar
          .wrap
            %article.mouse
              %img{:src => "images/product1-white.png"}
              %header.small
                %h4
                  Heading
              %p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.
              %button Details...

          .wrap
            %article.graph
              %img{:src => "images/product2-white.png"}
              %header.small
                %h4
                  Heading
              %p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.
              %button Details...
        .bar
          .wrap
            %article.speaker
              %img{:src => "images/product3-white.png"}
              %header.small
                %h4
                  Heading
              %p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.
              %button Details...
          .wrap
            %article.pda
              %img{:src => "images/product4-white.png"}
              %header.small
                %h4
                  Heading
              %p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.
              %button Details...
          .wrap
            %article.cam
              %img{:src => "images/product5-white.png"}
              %header.small
                %h4
                  Heading
              %p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.
              %button Details...

    %section.customer.article_block
      .rails-width
        %h2 This is what our customers say
        .bar
          .wrap
            %article
              %img.person{:src => "images/avatar1.jpg"}
              %header
                %h4
                  Quincy Davies
                %h5
                  Lorem ipsum
              %p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.

          .wrap
            %article
              %img.person{:src => "images/avatar2.jpg"}
              %header
                %h4
                  Hilde Akdemir
                %h5
                  Lorem ipsum
              %p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.
          .wrap
            %article
              %img.person{:src => "images/avatar3.jpg"}
              %header
                %h4
                  Neo Tromp
                %h5
                  Lorem ipsum
              %p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.
