/* Generic */
* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 26px;
  line-height: 28px;
}


/* Screen-sizes */
$min-tablet: 480px;
$min-screen: 992px;

/* Typography */
$font_size_medium: 0.6em;
$font_size_large: 0.9em;
$font_size_xlarge: 1.5em;

h1 {
  font-size: $font_size_xlarge;
}

h2 {
  font-size: $font_size_large;
}

h4 {
  font-size: $font_size_large;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h5 {
  font-size: $font_size_large;
  font-style: italic
}

p, button {
  font-size: $font_size_medium;
  line-height: 28px;
}

/* colors */
$orange: #fC582F;
$green: #8CC252;
$light-green: #CDDA48;
$blue: #1DAAF1;
$yellow: #FEC02E;

$brown: #795548;
$ochre: #FFC107;
$light_yellow: #FFECB3;
$light_grey: #b6b6b6;

$near_black: #212121;
$middle_grey: #727272;

$lightblue: #03a9f4;
$blue: #3f51b5;
$off_white: #c5cae9;

$white: #ffffff;
$dark_grey: #333333;


$accent_color: $lightblue;
$primary_color: $blue;
$light_primary_color: $off_white;
$divider_color: $light_grey;

$base_text_color: $white;
$primary_text_color: $dark_grey;
$secondary_text_color: $light_grey;

.mouse {
  background-color: $orange
}

.graph {
  background-color: $green
}

.speaker {
  background-color: $light-green
}

.pda {
  background-color: $blue
}

.cam {
  background-color: $yellow
}

/* generic layout */
.rails-width {
  max-width: 940px;
  margin: 0 auto;
}

section {
  text-align: center;

  h2 {
    padding-bottom: 2em;
  }

  article {
    max-width: 940px;
    overflow: auto;
  }
}

/* components */
button {
  border: 0;
  padding: 0 2em
}

img.person {
  $diameter: 150px;
  display: block;
  border-style: solid;
  border-width: 7px;
  border-radius: $diameter;
  -webkit-border-radius: $diameter;
  -moz-border-radius: $diameter;
}

/* layouts */
@mixin float {
  overflow: auto;
  .wrap {
    float: left;

    &:first-child:nth-last-child(2), &:first-child:nth-last-child(2) ~ div {
      width: 50%;
    }

    &:first-child:nth-last-child(3), &:first-child:nth-last-child(3) ~ div {
      width: 33.33%;
    }
  }
}

.article_block {
  .rails-width {
    padding: 3em 0 1.5em 0;
  }

  header {
    padding: 1em 0;

    &.small {
      padding: 0.5em 0 0 0;
    }
  }

  article {
    padding: 2em 0;
    display: inline-block;
    margin: 0.5em;
  }

  p {
    padding: 0 1em 1em 1em;
  }

  img {
    float: left;
    width:2em;
    margin: 1em;
  }

  button {
    float: right;
    margin: 1em;
  }
}

@media screen and (min-width: $min-tablet) and (min-height: $min-tablet) {
  .bar_text {
    @include float;
  }

  .article_block {
    img {
      width: auto;
    }
  }
}

@media screen and (min-width: $min-screen) {
  .bar {
    @include float;
  }

  .article_block {
    img {
      float: none;
    }

    button {
      float: none;
    }
  }
}

/* sections */
.intro {
  article {
    padding: 6em 0 3em 0;
  }

  p {
    padding: 1em;
    width: 70%;
    margin: 0 auto;
  }

  button {
    margin: 1em;
  }
}

.info {
  /* layout */
  article {
    padding: 3em 0 1.5em 0;
  }

  p {
    padding: 1em;
  }
}

.customer {
  img {
    margin: 2em auto 1em auto;
  }
}
