/* Generic */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Droid Serif', serif;
  font-size:26px;
  line-height: 28px;
}

/* Typography */
$font_size_medium:      0.6em;
$font_size_large:       0.9em;
$font_size_xlarge:      1.5em;

h1 {
  font-family: 'Droid Sans', sans-serif;
  font-size: $font_size_xlarge;
}

h2 {
  font-family: 'Droid Sans', sans-serif;
  font-size: $font_size_large;
}

h4 {
  font-family: 'Droid Sans', sans-serif;
  font-size: $font_size_large;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h5 {
  font-family: 'Droid Sans', sans-serif;
  font-size: $font_size_large;
  font-style: italic
}

p, button {
  font-size: $font_size_medium;
  line-height: 28px;
}

/* colors */
$accent_color:          #03a9f4;
$primary_color:         #3f51b5;
$light_primary_color:   #c5cae9;
$divider_color:         #b6b6b6;

$base_text_color:       #ffffff;
$primary_text_color:    #333333;
$secondary_text_color:  #727272;

$orange: #fC582F;
$green: #8CC252;
$light-green: #CDDA48;
$blue: #1DAAF1;
$yellow: #FEC02E;

.orange  { background-color: $orange }
.green  { background-color: $green }
.light-green  { background-color: $light-green }
.blue   { background-color: $blue }
.yellow { background-color: $yellow }

/* generic layout */
.rails-width {
  max-width: 940px;
  margin: 0 auto;
}

section {
  text-align: center;

  h2 {
    padding-bottom: 2em;
  }

  article {
    max-width: 940px;
    overflow: auto;
  }
}

/* components */
button {
  border: 0;
  padding: 0 2em
}

img.person {
  $diameter: 150px;
  display: block;
  border: solid $accent_color 7px;
  border-radius: $diameter;
  -webkit-border-radius: $diameter;
  -moz-border-radius: $diameter;
}

/* layouts */
.bar {
  overflow: auto;
  .wrap {
    float: left;

    &:first-child:nth-last-child(2), &:first-child:nth-last-child(2) ~ div {
      width: 50%;
    }

    &:first-child:nth-last-child(3), &:first-child:nth-last-child(3) ~ div {
      width: 33.33%;
    }
  }
}

.three_block {
  /* layout */
  .rails-width {
    padding: 3em 0 1.5em 0;
  }

  header {
    padding: 1em 0;

    &.small {
      padding: 0.5em 0 0 0;
    }
  }

  article {
    padding: 2em 0;
    display: inline-block;
    margin: 0.5em;
  }

  p {
    padding: 0 1em 1em 1em;
  }
}

/* sections */
.intro {
  /* colors */
  background-color: $primary_color;
  color: $base_text_color;

  p {
    color: $light_primary_color;
  }

  button {
    background-color: $accent_color;
    color: $base_text_color;
  }

  /* layout */
  article {
    padding: 6em 0 3em 0;
  }

  p {
    padding: 1em;
    width: 70%;
    margin: 0 auto;
  }

  button {
    margin: 1em;
  }
}

.info {
  /* layout */
  article {
    padding: 3em 0 1.5em 0;
  }

  .wrap {
    width: 50%;
    float: left;
    p {
      padding: 1em;
    }
  }
}

$margin: 26px;

.customer {
  /* colors */
  background-color: $accent_color;

  h2 {
    color: $base_text_color;
  }

  article {
    background-color: $base_text_color;
  }

  p {
    color: $secondary_text_color;
  }

  img {
    margin: 2em auto 1em auto;
  }
}

.products {
  /* colors */
  background-color: $light_primary_color;
  color: $base_text_color;

  button {
    background-color: $light_primary_color;
    color: $base_text_color;
  }
}


