/* Generic */
* {
  margin: 0;
}

body {
  font-family: 'Droid Serif', serif;
  font-size:26px;
  line-height: 28px;
}

/* Typography */
$font_size_medium:      0.6em;
$font_size_large:       1em;
$font_size_xlarge:      1.5em;

h1 {
  font-family: 'Droid Sans', sans-serif;
  font-size: $font_size_xlarge;
}

h2 {
  font-family: 'Droid Sans', sans-serif;
  font-size: $font_size_large;
}

h3 {
  font-family: 'Droid Sans', sans-serif;
  font-size: $font_size_large;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h4 {
  font-family: 'Droid Sans', sans-serif;
  font-size: $font_size_large;
  font-style: italic
}

p, button {
  font-size: $font_size_medium;
  line-height: 28px;
}

/* colors */
$accent_color:          #03a9f4;
$primary_color:         #3f51b5;
$light_primary_color:   #c5cae9;
$divider_color:         #b6b6b6;

$base_text_color:       #ffffff;
$primary_text_color:    #333333;
$secondary_text_color:  #727272;

/* generic layout */
.rails-width {
  max-width: 940px;
  margin: 0 auto;
}

section {
  text-align: center;

  article {
    max-width: 940px;
    overflow: auto;
  }
}

/* components */
button {
  border: 0;
  padding: 0 2em
}

img {
  $diameter: 150px;
  display: block;
  border: solid $accent_color 7px;
  border-radius: $diameter;
  -webkit-border-radius: $diameter;
  -moz-border-radius: $diameter;
}

/* sections */
.intro {
  /* colors */
  background-color: $primary_color;
  color: $base_text_color;

  p {
    color: $light_primary_color;
  }

  button {
    background-color: $accent_color;
    color: $base_text_color;
  }

  /* layout */
  article {
    padding: 6em 0 3em 0;
  }

  p {
    padding: 1em;
  }

  button {
    margin: 1em;
  }
}

.info {
  /* layout */
  article {
    padding: 3em 0 1.5em 0;
  }

  p {
    padding: 1em;
    width: 45%;
    float: left;
  }
}

$margin: 26px;

.customer {
  /* colors */
  background-color: $divider_color;

  h2 {
    color: $base_text_color;
  }

  article {
    background-color: $base_text_color;
  }

  p {
    color: $secondary_text_color;
  }

  img {
    margin: 2em auto 1em auto;
  }

  /* layout */
  header {
    padding: 1em 0;
  }

  article {
    width: 30%;
    display: inline-block;
    margin: 0.5em;
  }
}
