@import "style";
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab);


$greyish: #CCCCC2;
$marmer: #B6AEA1;
$rust: #72441E;
$cocoa: #71431E;
$red: #E6522D;


/* Typography */
body {
  font-family: 'Josefin Sans', serif;
}

h1 {
  font-family: 'Josefin Slab', sans-serif;
}

h2 {
  font-family: 'Josefin Slab', sans-serif;
}

h4 {
  font-family: 'Josefin Slab', sans-serif;
}

h5 {
  font-family: 'Josefin Slab', sans-serif;
}


/* components */
img.person {
  border-color: $red;
}

/* sections */
.intro {
  background-image: url(images/bg.jpg);

  background-size: cover;
  background-position: center;

  color: $white;

  p {
    color: $light_primary_color;
  }

  button:hover {
    border: 2px solid  $red;
    background-color: $red;
    color: $white;
  }

  button{
    border: 2px solid  $red;
    color: $red;
    background: $white;
  }
}

.info {
  background-color: $greyish;
}

.products {
  background-color: $marmer;
  color: $white;

  button:hover {
    border: 2px solid  $brown;
    background-color: $brown;
    color: $white;
  }

  button{
    border: 2px solid  $brown;
    color: $brown;
    background: $white;
  }

  article {
    background-image: linear-gradient(hsla(0, 100%, 100%, 0), hsl(0, 100%, 100%) 65%, hsla(0, 100%, 100%, 0.8) 95%, hsla(0, 100%, 100%, 0));
  }
}

.customer {
  background-color: $rust;

  h2 {
    color: $base_text_color;
  }

  article {
    background-color: $base_text_color;
  }

  p {
    color: $secondary_text_color;
  }
}
