@import "style";|

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);


/* Typography */
body {
  font-family: 'Droid Serif', serif;
}

h1 {
  font-family: 'Droid', sans-serif;
}

h2 {
  font-family: 'Droid', sans-serif;
}

h4 {
  font-family: 'Droid', sans-serif;
}

h5 {
  font-family: 'Droid', sans-serif;
}

/* components */
img.person {
  border-color: $accent_color;
}

/* sections */
.intro {
  background-color: $primary_color;
  color: $base_text_color;

  p {
    color: $light_primary_color;
  }

  button {
    background-color: $accent_color;
    color: $base_text_color;
  }
}

.products {
  background-color: $light_primary_color;
  color: $base_text_color;

  button {
    background-color: $light_primary_color;
    color: $base_text_color;
  }
}

.customer {
  /* colors */
  background-color: $accent_color;

  h2 {
    color: $base_text_color;
  }

  article {
    background-color: $base_text_color;
  }

  p {
    color: $secondary_text_color;
  }
}

