/* Generic */
* {
  margin: 0; }

body {
  font-family: 'Droid Serif', serif;
  font-size: 26px;
  line-height: 28px; }

/* Typography */
h1 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 1.5em; }

h2 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 1em; }

h3 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 1em;
  letter-spacing: 3px;
  text-transform: uppercase; }

h4 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 1em;
  font-style: italic; }

p, button {
  font-size: 0.6em;
  line-height: 28px; }

/* colors */
/* generic layout */
section {
  text-align: center; }
  section article {
    max-width: 940px;
    margin: auto; }

/* sections */
#intro {
  /* colors */
  background-color: #3f51b5;
  color: #ffffff;
  /* layout */ }
  #intro p {
    color: #c5cae9; }
  #intro button {
    background-color: #03a9f4;
    color: #ffffff; }
  #intro article {
    padding: 6em 0 3em 0; }
  #intro p {
    padding: 1em; }
  #intro button {
    border: 0;
    margin: 1em;
    padding: 0 2em; }

#info {
  /* layout */ }
  #info article {
    padding: 3em 0 1.5em 0; }
  #info p {
    padding: 1em;
    width: 45%;
    float: left; }

#customer {
  /* colors */
  background-color: #b6b6b6; }
  #customer h2 {
    color: #ffffff; }
  #customer article {
    background-color: #ffffff; }
  #customer p {
    color: #727272; }
