/* Generic */
* {
  padding: 0;
  margin: 0; }

body {
  font-size: 26px;
  line-height: 28px; }

/* Screen-sizes */
/* Typography */
h1 {
  font-size: 1.5em; }

h2 {
  font-size: 0.9em; }

h4 {
  font-size: 0.9em;
  letter-spacing: 3px;
  text-transform: uppercase; }

h5 {
  font-size: 0.9em;
  font-style: italic; }

p, button {
  font-size: 0.6em;
  line-height: 28px; }

/* colors */
.mouse {
  background-color: #fC582F; }

.graph {
  background-color: #8CC252; }

.speaker {
  background-color: #CDDA48; }

.pda {
  background-color: #3f51b5; }

.cam {
  background-color: #FEC02E; }

/* generic layout */
.rails-width {
  max-width: 940px;
  margin: 0 auto; }

section {
  text-align: center; }
  section h2 {
    padding-bottom: 2em; }
  section article {
    max-width: 940px;
    overflow: auto; }

/* components */
button {
  border: 0;
  padding: 0 2em; }

img.person {
  display: block;
  border-style: solid;
  border-width: 7px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px; }

/* layouts */
.article_block .rails-width {
  padding: 3em 0 1.5em 0; }
.article_block header {
  padding: 1em 0; }
  .article_block header.small {
    padding: 0.5em 0 0 0; }
.article_block article {
  padding: 2em 0;
  display: inline-block;
  margin: 0.5em; }
.article_block p {
  padding: 0 1em 1em 1em; }
.article_block img {
  float: left;
  width: 2em;
  margin: 1em; }
.article_block button {
  float: right;
  margin: 1em; }

@media screen and (min-width: 480px) and (min-height: 480px) {
  .bar_text {
    overflow: auto; }
    .bar_text .wrap {
      float: left; }
      .bar_text .wrap:first-child:nth-last-child(2), .bar_text .wrap:first-child:nth-last-child(2) ~ div {
        width: 50%; }
      .bar_text .wrap:first-child:nth-last-child(3), .bar_text .wrap:first-child:nth-last-child(3) ~ div {
        width: 33.33%; }

  .article_block img {
    width: auto; } }
@media screen and (min-width: 992px) {
  .bar {
    overflow: auto; }
    .bar .wrap {
      float: left; }
      .bar .wrap:first-child:nth-last-child(2), .bar .wrap:first-child:nth-last-child(2) ~ div {
        width: 50%; }
      .bar .wrap:first-child:nth-last-child(3), .bar .wrap:first-child:nth-last-child(3) ~ div {
        width: 33.33%; }

  .article_block img {
    float: none; }
  .article_block button {
    float: none; } }
/* sections */
.intro article {
  padding: 6em 0 3em 0; }
.intro p {
  padding: 1em;
  width: 70%;
  margin: 0 auto; }
.intro button {
  margin: 1em; }

.info {
  /* layout */ }
  .info article {
    padding: 3em 0 1.5em 0; }
  .info p {
    padding: 1em; }

.customer img {
  margin: 2em auto 1em auto; }
