/* Generic */
* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Droid Serif', serif;
  font-size: 26px;
  line-height: 28px; }

/* Typography */
h1 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 1.5em; }

h2 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 0.9em; }

h4 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 0.9em;
  letter-spacing: 3px;
  text-transform: uppercase; }

h5 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 0.9em;
  font-style: italic; }

p, button {
  font-size: 0.6em;
  line-height: 28px; }

/* colors */
.orange {
  background-color: #fC582F; }

.green {
  background-color: #8CC252; }

.light-green {
  background-color: #CDDA48; }

.blue {
  background-color: #1DAAF1; }

.yellow {
  background-color: #FEC02E; }

/* generic layout */
.rails-width {
  max-width: 940px;
  margin: 0 auto; }

section {
  text-align: center; }
  section h2 {
    padding-bottom: 2em; }
  section article {
    max-width: 940px;
    overflow: auto; }

/* components */
button {
  border: 0;
  padding: 0 2em; }

img.person {
  display: block;
  border: solid #03a9f4 7px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px; }

/* layouts */
.bar {
  overflow: auto; }
  .bar .wrap {
    float: left; }
    .bar .wrap:first-child:nth-last-child(2), .bar .wrap:first-child:nth-last-child(2) ~ div {
      width: 50%; }
    .bar .wrap:first-child:nth-last-child(3), .bar .wrap:first-child:nth-last-child(3) ~ div {
      width: 33.33%; }

.three_block {
  /* layout */ }
  .three_block .rails-width {
    padding: 3em 0 1.5em 0; }
  .three_block header {
    padding: 1em 0; }
    .three_block header.small {
      padding: 0.5em 0 0 0; }
  .three_block article {
    padding: 2em 0;
    display: inline-block;
    margin: 0.5em; }
  .three_block p {
    padding: 0 1em 1em 1em; }

/* sections */
.intro {
  /* colors */
  background-color: #3f51b5;
  color: #ffffff;
  /* layout */ }
  .intro p {
    color: #c5cae9; }
  .intro button {
    background-color: #03a9f4;
    color: #ffffff; }
  .intro article {
    padding: 6em 0 3em 0; }
  .intro p {
    padding: 1em;
    width: 70%;
    margin: 0 auto; }
  .intro button {
    margin: 1em; }

.info {
  /* layout */ }
  .info article {
    padding: 3em 0 1.5em 0; }
  .info .wrap {
    width: 50%;
    float: left; }
    .info .wrap p {
      padding: 1em; }

.customer {
  /* colors */
  background-color: #03a9f4; }
  .customer h2 {
    color: #ffffff; }
  .customer article {
    background-color: #ffffff; }
  .customer p {
    color: #727272; }
  .customer img {
    margin: 2em auto 1em auto; }

.products {
  /* colors */
  background-color: #c5cae9;
  color: #ffffff; }
  .products button {
    background-color: #c5cae9;
    color: #ffffff; }
